html {
    --main-background-color: #121417;
    --main-text-color: #fff;

    --secundary-background-color: #1E2228;

    --chat-bubble-color: #3D6BF2;
    --chat-bubble-secondary: #81a0fc;
    --recieved-chat-bubble-color: #2B2F33;
    --recieved-chat-bubble-secondary: grey;

    --focus-color: #00ff00;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    padding: 1rem;
}

h1 {
    font-size: 4em; 
}

h2 {
    font-size: 3em;
}

p, label {
    font-size: 1.75rem;
}

label {
    font-weight: 550;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    padding: 2rem;
    
    border: 15px solid white;
}

input {
    font-size: 2rem;
    &:focus {
        outline: 1rem solid var(--focus-color);
    }
}

button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--chat-bubble-color);
    padding: .5rem;
    border: .5rem solid var(--main-text-color);
    cursor: pointer;
    color: var(--main-text-color);
    font-size: 2rem;

    &:focus {
        outline: 1rem solid var(--focus-color);
    }


}

img {
    height: 3rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 3rem;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
    }
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 15px solid white;
}

.audio-container {
    padding: 1rem;
    border: 1rem solid white;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.audio-message {
    align-self: flex-end;
     &.opposite {
        align-self: flex-start;
        --chat-bubble-color: var(--recieved-chat-bubble-color);
        --chat-bubble-secondary: var(--recieved-chat-bubble-secondary);
    }
}

.icon {
    .icon-pause {
        display: none;
    }

    .icon-play {
        display: block;
    }

    &.playing {
        .icon-pause {
            display: block;
        }

        .icon-play {
            display: none;
        }
    }
}

.audio-visual {
    --animation-duration: 0s;

    width: 6rem;
    height: 3rem;
    background: linear-gradient(to left,
    var(--chat-bubble-secondary) 50%, white 0 100%);
    background-size: 200%;
    mask-image: url('./public/images/voice-message.png');
    mask-repeat: repeat-x;
    mask-size: 100%;
    mask-position: 50%;
    animation: paused linear --slide var(--animation-duration) infinite;

    &.playing {
        animation-play-state: running;
    }
}

@keyframes --slide {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}